
<div class="content-container welcome-container">
    <div id="contnet" class="effect-load">
        <div class="wrapper">
            <div class="login">
                <div class="login_left_combo_parent">
                    <div class="login_left_combo">
                        <a href="" class="logo"><img src="../../assets/login/logo2.png" alt="Logo"> </a>
                        <h1><b>Connectez-vous</b> à votre espace </h1>
                        <p>pour accéder à plusieurs fonctionnalités depuis  <b>un seul endroit</b> </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="login_innre">
                        <form id="login" method="post">
                            <p class="title">Bienvenue ! 👋</p>

                            <p class="desc">Veuillez saisir vos identifiants pour accéder à <a class="dec main" >votre Espace Abonné mobile .</a></p>


                            <div class="alert alert-danger errors"></div>

                            <div class="wow_form_fields">
                                <label for="username">Entrez votre nom d'utilisateur</label>
                                <input id="username" name="username" type="text" autocomplete="off" placeholder="le nom d'utilisateur" autofocus>
                            </div>
                            <div class="wow_form_fields">
                                <label for="password">Tapez votre mot de passe</label>
                                <input id="password" name="password" type="password" placeholder="Mot de passe" autocomplete="off">
                            </div>

                            <div class="forgot_password">
                                <div class="terms">
                                    <input type="checkbox" name="remember_device" id="remember_device" checked>
                                    <label for="remember_device">Rappelez-vous </label>
                                    <div class="clear"></div>
                                </div>
                                <a href="#" class="main">Mot de passe oublié?</a>
                            </div>

                            <div class="login_signup_combo">
                                <div class="login__">
                                    <button type="submit" class="btn btn-main btn-mat add_wow_loader">S'identifier</button>
                                </div>
                            </div>




                        </form>

                        <div class="footer" >
                            <div class="welcome-footer" >
                                <div style="color: white;">
                                    © 2024 Myallo Mobile &nbsp;•&nbsp;<a data-ajax="?link1=terms&type=terms" href="">Conditions d'utilisation</a> &nbsp;•&nbsp;
                                    <a data-ajax="?link1=terms&type=privacy-policy" href="">politique de confidentialité</a> &nbsp;•&nbsp;
                                    <a data-ajax="?link1=contact-us" href="s">Contactez nous</a> &nbsp;•&nbsp;
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>